AWS_REGION = <your-aws-region>
SQS_QUEUE_URL = <your-sqs-queue-url>
QUEUE_TYPE = <SQS | beanstalkd | redis>
HEARTBEAT_INTERVAL = <heartbeat-interval>
SQS_MAX_SOCKETS = <optional-max-sockets-for-sqs-default-50>

